.section-title {
    margin: 3rem 0;
    font-weight: 200;
    text-align: center;
    font-size: 1.9rem;
    color: #444;
}

.services-container {
    text-align: center;
    margin-top: 3rem; 

    .service-card {
        padding: 1.5rem;
    }

    h3 {
        font-size: 1.6rem;
        margin: 1.5rem;
    }

    .bold-text {
        font-size: 1.9rem;
    }

    p {
        color: #8e8e8e;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .btn-light {
        margin: 1rem 0;
    }
}

//IMG GRID SECTION
.portfolio {
    margin-bottom: 1.5rem;
    text-align: center;

    h2 {
        margin-bottom: 3rem;
    }
}
.img-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    img {
        margin: 1rem;
    }
}

//EMPLOYEE SECTION

.employee-cards {
    background: #ffe1bd;
    padding: 2rem 0;
}

.card {
    text-align: center;
    margin: 2rem 0;

    h3 {
        font-size: 1.7rem;
        padding: 1rem;
    }

    p {
        margin-top: -0.5rem;
        font-size: 1rem;
    }
}

//Testimonials

.testimonial {
    text-align: center;
    margin: 1.5rem 0
}

.test-title {
    h3 {
        padding: 1rem 0 0.5rem;
        font-size: 1.3rem;
    }

    .divider {
        margin: 0 auto;
    }

    p {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

.test-text {
    p {
        text-align: left;
        padding: 1.5rem;
        line-height: 1.4;
        color: #8e8e8e;
    }
}

.test-gallery {
    margin-bottom: 1.5rem;
    img {
        padding: 1rem;
        display: block;
        margin: 0 auto;
    }
}

//ABOTU PAGE

.side-bullet {
    font-size: 1.3rem;
    padding: 1.5rem;
    width: 20rem;
    margin: 0 auto;
}

.about {
    padding: 1.5rem;

    img {
        display: block;
        margin: 0 auto 1.5rem;
    }

    p {
        padding: 1rem 0;
        line-height: 1.4;
    }

    .btn-light {
        display: block;
        margin: 1.5rem auto;
    }
}

.about-stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.stat-container {
    text-align: center;
    width: calc(100% / 3);

    h3 {
        padding: 1rem 0;
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}

.insta-section {
    margin-bottom: 1.5rem;

    button {
        display: block;
        margin: 2rem auto;
        padding: 1rem 3rem;
    }
}

.instagram {
    display: flex;
    flex-wrap: wrap;

    img {
        padding: 1rem;
        display: inline-block;
        margin: 0 auto;
    }
}


