@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");
.icon-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.7rem 2rem;
}

.icon-view .icon {
  width: 2rem;
  height: 2rem;
}

.list-view {
  display: none;
  padding: 0 2rem;
}

@media (min-width: 760px) {
  .icon-view {
    display: none;
  }
  .list-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.7rem 0;
  }
  .menu li {
    padding-right: 1.3rem;
    font-size: 1.1rem;
  }
}

a {
  text-decoration: none;
  color: #989898;
}

.selected {
  border-bottom: 1px solid black;
}

header {
  text-align: center;
  padding: 7.75rem 0 5rem;
  background: #ffe1bd;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

header .large-dot {
  font-size: 2.7rem;
}

header p {
  font-size: 1.5rem;
  margin-bottom: 4.6rem;
}

header button {
  margin-bottom: 3rem;
}

.dots {
  width: 6.25rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dots .dot-full {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: black;
}

.dots .dot-empty {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
}

.ctr-pg-container {
  margin: 0 auto;
  max-width: 71.8rem;
}

.hidden {
  display: none;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
}

.divider {
  width: 3rem;
  margin: 0 auto 1.4rem;
  border: 1px solid black;
}

.btn-dark {
  background: black;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 0.6rem 1.3rem;
}

.btn-light {
  border: 1px solid #d8d8d8;
  font-size: 1rem;
  padding: 0.7rem 1.4rem;
  border-radius: 25px;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
li {
  font-family: 'Montserrat', sans-serif;
}

.bold-text {
  font-weight: bold;
}

.section-title {
  margin: 3rem 0;
  font-weight: 200;
  text-align: center;
  font-size: 1.9rem;
  color: #444;
}

.services-container {
  text-align: center;
  margin-top: 3rem;
}

.services-container .service-card {
  padding: 1.5rem;
}

.services-container h3 {
  font-size: 1.6rem;
  margin: 1.5rem;
}

.services-container .bold-text {
  font-size: 1.9rem;
}

.services-container p {
  color: #8e8e8e;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.services-container .btn-light {
  margin: 1rem 0;
}

.portfolio {
  margin-bottom: 1.5rem;
  text-align: center;
}

.portfolio h2 {
  margin-bottom: 3rem;
}

.img-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.img-grid img {
  margin: 1rem;
}

.employee-cards {
  background: #ffe1bd;
  padding: 2rem 0;
}

.card {
  text-align: center;
  margin: 2rem 0;
}

.card h3 {
  font-size: 1.7rem;
  padding: 1rem;
}

.card p {
  margin-top: -0.5rem;
  font-size: 1rem;
}

.testimonial {
  text-align: center;
  margin: 1.5rem 0;
}

.test-title h3 {
  padding: 1rem 0 0.5rem;
  font-size: 1.3rem;
}

.test-title .divider {
  margin: 0 auto;
}

.test-title p {
  font-size: 0.9rem;
  padding: 0.5rem;
}

.test-text p {
  text-align: left;
  padding: 1.5rem;
  line-height: 1.4;
  color: #8e8e8e;
}

.test-gallery {
  margin-bottom: 1.5rem;
}

.test-gallery img {
  padding: 1rem;
  display: block;
  margin: 0 auto;
}

.side-bullet {
  font-size: 1.3rem;
  padding: 1.5rem;
  width: 20rem;
  margin: 0 auto;
}

.about {
  padding: 1.5rem;
}

.about img {
  display: block;
  margin: 0 auto 1.5rem;
}

.about p {
  padding: 1rem 0;
  line-height: 1.4;
}

.about .btn-light {
  display: block;
  margin: 1.5rem auto;
}

.about-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.stat-container {
  text-align: center;
  width: calc(100% / 3);
}

.stat-container h3 {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.stat-container p {
  font-size: 0.8rem;
}

.insta-section {
  margin-bottom: 1.5rem;
}

.insta-section button {
  display: block;
  margin: 2rem auto;
  padding: 1rem 3rem;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instagram img {
  padding: 1rem;
  display: inline-block;
  margin: 0 auto;
}

.get-in-touch {
  background: black;
  padding: 1.5rem;
  color: white;
}

.get-in-touch .section-title {
  color: white;
  margin-bottom: 3rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.contact img {
  margin-right: 0.4rem;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.social-media .icon {
  width: 3.5rem;
  height: 3.5rem;
}

.social-media .sm-icon {
  background: white;
  padding: 0.4rem;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.copyright {
  background: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.8rem;
  color: #7a7a7a;
}

.copyright .bold-text-footer {
  font-weight: bold;
  font-size: 1.1rem;
  color: black;
}

label {
  color: #7a7a7a;
}

input[type=text],
input[type=email],
textarea {
  border: none;
  border-bottom: 1px solid #7a7a7a;
  width: 100%;
  background: black;
  margin-bottom: 1rem;
  color: white;
  line-height: 1.2;
  resize: none;
}

form .btn-light {
  display: block;
  margin: 1rem auto;
}
/*# sourceMappingURL=style.css.map */