header {
    text-align: center;
    padding: 7.75rem 0;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.4rem;
    }

    .large-dot {
        font-size: 2.7rem;
    }

    .divider {
        width: 3rem;
        margin: 0 auto 1.4rem;
        border: 1px solid black;
    }
}