header {
    text-align: center;
    padding: 7.75rem 0 5rem;
    background: #ffe1bd;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.4rem;
    }

    .large-dot {
        font-size: 2.7rem;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 4.6rem;
    }

    button {
        margin-bottom: 3rem;
    }
}

.dots {
    width: 6.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    .dot-full {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: black;
    }

    .dot-empty {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid black;
    }
}